@model Image.Models.Comics

@{
    ViewData["Title"] = "Delete";
}
<script src="https://kit.fontawesome.com/fe0decd0b5.js" crossing="anonymous"></script>
<link rel="stylesheet" href="~/css/site2.css"/>
<body style="background-color:black">


<h3 style="color:Red;text-align:center" >Bạn có chắc muốn xóa sản phẩm này</h3>
<div>
    
    <hr/>
    <div class="boxes">
    <div class="box">
   <img src="https://i.annihil.us/u/prod/marvel/i/mg/4/03/62017952d165c/portrait_uncanny.jpg" height="240" width="150"/>
   </div>
   
   <div class="box">
    <dl class="row" style="color:white">
        
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.TenTruyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTruyen)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.NgayPhatHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayPhatHanh)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TheLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheLoai)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
</>
</div>
 <div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>
</body>